{% extends 'layout_client.html' %}
{% block content %}
<div class="container">
	<div class="card-panel grey lighten-2">
		<div class="row">
			<div class="col s12 center-align">
				<h5 class='blue-text text-darken-4' style="text-decoration: underline; font-weight: bold;">EVENT REGISTRATION FORM</h5>
			</div>
			<form action="{{url_for('eventRegistration')}}" method="post" enctype="multipart/form-data">
				<div class="col s12 input-field">
					<i class="fas fa-pen prefix"></i>
					<input type="text" name="event_name" id='event-name' class="validate" required>
					<label for="event-name">Event Name</label>
				</div>
				<div class="col s12 input-field">
					<i class="material-icons prefix">calendar_month</i>
					<input type="text" class="datepicker" name="event_date" id='event-date' class="validate" required>
					<label for="event-date">Event Date</label>
				</div>
				<div class="col s12 input-field">
					<i class="material-icons prefix">alarm_on</i>
					<input type="number" name="event_duration" id='event-duration' class="validate" required min="1">
					<label for="event-duration">Event Duration</label>
				</div>
				<div class="col s12 input-field">
					<i class="material-icons prefix">description</i>
					<textarea class="materialize-textarea validate" name="event_desc" id='event-desc' required></textarea>
					<label for="event-desc">Description</label>
				</div>
				<div class="col s12 center-align">
					<input type="submit" name="" value='REGISTER' class="btn blue darken-4">
				</div>
			</form>
		</div>
	</div>
</div>

<!--items section-->

<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h5 class="blue-text text-darken-4" style="font-weight: bold;">EVENT ITEMS</h5>
		</div>
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s4"><a class="blue-text text-darken-4" href="#item-light">Light and Sound</a></li>
				<li class="tab col s4"><a class="blue-text text-darken-4" href="#item-food">Food</a></li>
				<li class="tab col s4"><a class="blue-text text-darken-4" href="#item-others">Others</a></li>
			</ul>
		</div>
		<div class="col s12" id="item-light">
			<div class="row">
	    		{%for i in lightSoundList%}
		    		<div class="col s12">
		    			<div class="card horizontal">
				      		<div class="card-image">
				        		<img class="hide-on-small-only" src="{{lightSoundList[i]['imgUrl']}}" style="height: 11rem; width: 17rem;">
				        		<img class="hide-on-med-and-up responsive-img" src="{{lightSoundList[i]['imgUrl']}}" style="height: 100%; width: 100%;">
				      		</div>
				      		<div class="card-stacked">
				        		<div class="card-content">
				          			<p class="grey-text text-darken-3" style="font-weight: bold; margin:0; text-transform: capitalize;">{{lightSoundList[i]['item_name']}}</p>
				          			<p class="blue-text text-darken-4" style="font-weight: bold;"><i class="fas fa-rupee-sign"></i>{{lightSoundList[i]['item_price']}}/-</p>
				        		</div>
				        		<div class="card-action">
				          			{% if session == 'admin' %}
				        				<a href="{{url_for('adminItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% elif session == 'manager' %}
				          				<a href="{{url_for('managerItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% endif %}
				        		</div>
				      		</div>
				    	</div>
		    		</div>
		    	{% endfor %}
	    	</div>
		</div>
		<div class="col s12" id="item-food">
			<div class="row">
	    		{%for i in foodList%}
		    		<div class="col s12">
		    			<div class="card horizontal">
				      		<div class="card-image">
				        		<img class="hide-on-small-only" src="{{foodList[i]['imgUrl']}}" style="height: 11rem; width: 17rem;">
				        		<img class="hide-on-med-and-up responsive-img" src="{{foodList[i]['imgUrl']}}" style="height: 100%; width: 100%;">
				      		</div>
				      		<div class="card-stacked">
				        		<div class="card-content">
				          			<p class="grey-text text-darken-3" style="font-weight: bold; margin:0; text-transform: capitalize;">{{foodList[i]['item_name']}}</p>
				          			<p class="blue-text text-darken-4" style="font-weight: bold;"><i class="fas fa-rupee-sign"></i>{{foodList[i]['item_price']}}/-</p>
				        		</div>
				        		<div class="card-action">
				          			{% if session == 'admin' %}
				        				<a href="{{url_for('adminItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% elif session == 'manager' %}
				          				<a href="{{url_for('managerItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% endif %}
				        		</div>
				      		</div>
				    	</div>
		    		</div>
		    	{% endfor %}
	    	</div>
		</div>
		<div class="col s12" id="item-others">
			<div class="row">
	    		{%for i in othersList%}
		    		<div class="col s12">
		    			<div class="card horizontal">
				      		<div class="card-image">
				        		<img class="hide-on-small-only" src="{{othersList[i]['imgUrl']}}" style="height: 11rem; width: 17rem;">
				        		<img class="hide-on-med-and-up responsive-img" src="{{othersList[i]['imgUrl']}}" style="height: 100%; width: 100%;">
				      		</div>
				      		<div class="card-stacked">
				        		<div class="card-content">
				          			<p class="grey-text text-darken-3" style="font-weight: bold; margin:0; text-transform: capitalize;">{{othersList[i]['item_name']}}</p>
				          			<p class="blue-text text-darken-4" style="font-weight: bold;"><i class="fas fa-rupee-sign"></i>{{othersList[i]['item_price']}}/-</p>
				        		</div>
				        		<div class="card-action">
				        			{% if session == 'admin' %}
				        				<a href="{{url_for('adminItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% elif session == 'manager' %}
				          				<a href="{{url_for('managerItemDetails', itemID=i)}}">MORE DETAILS</a>
				        			{% endif %}
				        		</div>
				      		</div>
				    	</div>
		    		</div>
		    	{% endfor %}
	    	</div>
		</div>
	</div>
</div>

{% endblock %}